---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "About Me" }}</h3> -->

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Demo Reel" }}</h3>
<iframe title="vimeo-player" src="https://player.vimeo.com/video/333859826?h=a373536ef0" width="640" height="360" frameborder="0" allowfullscreen></iframe>
<div></div>
<div></div>
<iframe title="vimeo-player" src="https://player.vimeo.com/video/333480995?h=bc68c94107" width="640" height="360" frameborder="0" allowfullscreen></iframe>
<div></div>
<div></div>
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Resume" }}</h3>

<!-- {% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %} -->
