---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Demo Reel" }}</h3>
<iframe src="https://player.vimeo.com/video/333859826?h=a373536ef0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
<h5>Breakdown:</h5>
<p style="font-size:14px">0:00 - 0:40 Moxy Face Rigging Female Dolls - Face Rigging 0:41 - 0:56 Red Dragon Body and Face Rigging 0:57 - 1:27 Joaquin Child Body & Face Manolo Child Body General Posada Body 1:28 - 2:11 Reggie Body Jake Body</p>
<p></p>
<div><iframe src="https://player.vimeo.com/video/333480995?h=bc68c94107&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
<h5>Breakdown:</h5>
<p style="font-size:14px">All plugins were created with c++. Curve Deformer 0:00 - 0:42 Smoothie Deformer 0:42 - 1:26 Zipper Lips Node 1:27 -2:11 The zipperLip plugin was co authored with Ryan Porter https://vimeo.com/ryanmporter https://yantor3d.wordpress.com/</p>

<!-- {% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}
 
{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %} -->
